@{
    ViewData["Banner"] = "/images/tutor.png";
}

@{
    ViewData["Title"] = "Tutoring Calculator";
}

<h1>Japanese Tutoring Cost Calculator</h1>
<br/>


<label>Hours Needed:</label>
<input id="hours" type="number" min="1" />

<br /><br />

<label>Rate Per Hour ($):</label>
<input id="rate" type="text" value="25" readonly />

<br /><br />

<button id="calcBtn" class="custom-btn">Calculate</button>

<br /><br />

<label>Total Cost:</label>
<input id="total" type="text" readonly />

<br /><br />

<a asp-controller="Home" asp-action="Index" class="custom-btn">
    Back to Home
</a>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="~/js/calculator.js"></script>