@{
    ViewData["Banner"] = "/images/japan3.png";
}
@{
    ViewData["Title"] = "Japan Hobby";
}

<h1>Learning Japanese</h1>
<br/>

<p>
    I served my mission in Japan so I love Japanese culture, food, traditions, people, and of course the 
    language. I enjoy continuing to learn about Japan and keep my Japanese skills fresh. The language is 
    so unique and beautiful and after all this time of learning it, I don't want to forget it one day.
</p>
<p>
    Japanese uses three different writing systems: hiragana, katakana, and kanji. 
    Hiragana is used for basic words and grammar, katakana is mostly for foreign words,
    and kanji are characters that represent meaning. Kanji is definitely the hardest part. 
    Even though I’ve been studying Japanese for years, I’ve only learned a small fraction 
    of all the kanji that exist. 
</p>

<p>
    <img src="~/images/japan2.jpg" class="img-right" />

    One of the coolest parts of the Japanese language is how it uses different levels of politeness,
    called "teinei - 丁寧". Depending on who you’re talking to, you change the way you speak to show respect.
    Talking to friends is very casual, while speaking to strangers, elders, or people in authority
    requires more formal language. This is so interesting because it almost feels like you have to 
    switch languages to talk to different people. 

</p>



<br /><br />

<a asp-controller="Home" asp-action="Calculator" class="custom-btn">
    Japanese Tutoring
</a>

<br /><br />