.banner {
    width: 100%;
    height: 230px;
    background-image: url('/images/japan3.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

header {
    margin-bottom: 0 !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.custom-btn {
    background-color: lightgrey;
    color: black;
    padding: 10px 22px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    border: none;
    transition: all 0.25s ease;
    display: inline-block;
}

.custom-btn:hover {
    background-color: darkgray;
    color: black;
    text-decoration: none;
    transform: translateY(-1px);
}

.img-right {
    float: right;     
    margin: 0 0 200px 50px;  
    width: 400px;      
}
